.editable-row .ant-form-item-explain {
  position: relative;
  top: 100%;
  font-size: 12px;
  width: 400px;
}
.containerHeuristic {
  position: absolute;
  min-width: 150px;
  width: 400px;
  height: 80vh;
  z-index: 5;
  top: 1%;
  right: 1%;
}
.CardHeuristic {
  position: absolute;
  min-width: 150px;
  width: 400px;
  max-height: 100vh;
  z-index: 5;
  top: 0%;
  left: 0%;
  border-width: 10px;
  box-shadow: 5px 10px 5px gray;
}
